{
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf",
  "semi": false,
  "proseWrap": "preserve",
  "arrowParens": "always"
}
